1. User will input (3ages).Find the oldest one

In [ ]:
first_age = int(input("Enter the first age: "))
second_age = int(input("Enter the second age: "))
third_age = int(input("Enter the third age: "))

L = []
L.extend([first_age,second_age,third_age])
print(max(L),"is the oldest one.")

Enter the first age: 65
Enter the second age: 25
Enter the third age: 13
65 is the oldest one.

2. Write a program that will convert celsius value to fahrenheit

In [ ]:
def farenheit(C):
  F = 32 + (9/5)*C
  print(F,"farenheit")

farenheit(1)

33.8 farenheit

3. User will input (2numbers).Write a program to swap the numbers

In [ ]:
num1 = int(input("Enter the 1st number: "))
num2 = int(input("Enter the 2nd number: "))

def swap(num1=num1,num2=num2):
  m = num1
  num1 = num2
  num2 = m
  print(num1,num2)

swap()

Enter the 1st number: 26
Enter the 2nd number: 62

(62, 26)

4. Write a program that will give you the sum of 3 digits

In [ ]:
def SumOf3(digit):
  digit = str(digit)
  a = int(digit[0])
  b = int(digit[1])
  c = int(digit[2])
  total = a+b+c
  return(total)

SumOf3(222)

6

In [ ]:
def Sum_Of_Digits(digit=0):
  digit = str(digit)
  digit = list(digit)
  L = []
  for i in digit:
    a = int(i)
    L.append(a)
  total = sum(L)
  return(total)

Sum_Of_Digits(22222)

10

5. Write a program that will reverse a four digit number.Also it checks
whether the reverse is true.

In [ ]:
def rev4(num):

  if len(str(num)) == 4:
    a = num % 10
    b = num // 10
    c = b % 10
    d = b // 10
    e = d % 10
    f = d // 10

    new_num = a*1000 + c*100 + e*10 + f
    if new_num == num:
      print("True",num,new_num)
    else:
      print("False",num,new_num)
  else:
    print("Enter a valid 4 digit number")

rev4(333)

Enter a valid 4 digit number

6. Write a program that will tell whether the number entered by the
user is odd or even.

In [ ]:
def odd_even(num):
  if num % 2 == 0:
    print(num,"is Even")
  else:
    print(num,"is Odd")

odd_even(32)

32 is Even

7. Write a program that will tell whether the given year is a leap year
or not.

In [ ]:
def leap_year(year):
  if year % 4 == 0:
    print(year, "is a leap year!")
  else:
    print(year,"is not a leap year!")

leap_year(2022)

2022 is not a leap year!

8. Write a program to find the euclidean distance between two
coordinates.

In [ ]:
def euclidean(x1,x2,y1,y2):
  d = ((x2-x1)**2 + (y2-y1)**2)**0.5
  print("distance between",(x1,x2),(y1,y2),"is",d)

euclidean(1,2,4,5)

distance between (1, 2) (4, 5) is 1.4142135623730951

9. Write a program that take a user inputr of three angles and will
find out whether it can form a triangle or not.

In [ ]:
def is_triangle(a1,a2,a3):
  if sum([a1,a2,a3]) == 180:
    print("Its a triangle")
  else:
    print("Its not a triangle")
  

is_triangle(30,50,90)

Its not a triangle

10. Write a program that will take user input of cost price and selling
price and determines whether its a loss or a profit

In [ ]:
SP = int(input("Enter the selling price: "))
CP = int(input("Enter the cost price: "))
P = SP - CP
if P > 0:
  print("Its a Profit of",P)
else:
  print("Its a Loss of",P)

Enter the selling price: 150
Enter the cost price: 100
Its a Profit of 50