41. Write a program to print the following pattern
-*

-**

-***

-****

-*****

In [ ]:
for i in range(0,6):
  print('*'*i)

*
**
***
****
*****

42.Write a program to print the following pattern

*

**

-***

**

*

In [ ]:
row = int(input("enter the number of rows: "))

for i in range(1,row+1):
  print("*"*i)
for j in range(row+1,0,-1):
  print("*"*j)

enter the number of rows: 15
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

43.Write a program to print the following pattern

'*

'* * *

'* * * * *

'* * * * * * *

'* * * * * * * * *

In [ ]:
row = int(input("Enter the no. of rows: "))

for i in range(1,row*2,2):
  print(" "*((row*2)-i),end=" ")
  print("* "*i)

Enter the no. of rows: 10
                    *
                  * * *
                * * * * *
              * * * * * * *
            * * * * * * * * *
          * * * * * * * * * * *
        * * * * * * * * * * * * *
      * * * * * * * * * * * * * * *
    * * * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * * * *

44. Write a program to print the following pattern

1

1 2 1

1 2 3 2 1

1 2 3 4 3 2 1

1 2 3 4 5 4 3 2 1

In [ ]:
n = int(input("Enter the number of rows: "))

for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end=" ")
  for k in range(i-1,0,-1):
    print(k,end=" ")
  print(" ")

Enter the number of rows: 5
1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

45. Write a program to print the following pattern

1

2 3

4 5 6

7 8 9 10

In [ ]:
n = int(input("Enter the no. of rows: "))
num = 1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(num,end=" ")
    num = num+1
  print(" ")

Enter the no. of rows: 4
1
2 3
4 5 6
7 8 9 10

46. Write a program to calculate the sum of the following series till the
nth term
1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
n will be provided by the user

In [ ]:
n = int(input("Enter the nth term: "))
L = []
for i in range(1,n+1):
  a = i
  b = 1
  for j in range(1,i+1):
    b = j*b
  L.append(a/b)
print(sum(L))

Entert the nth term: 5
2.708333333333333

47. Write a Python Program to Find the Sum of the Series till the nth term:
1 + x^2/2 + x^3/3 + … x^n/n
n will be provided by the user

In [ ]:
n = int(input("Enter the nth term: "))
x = int(input("Enter the value of x: "))
L = []

for i in range(2,n+1):
  a = x**(i)
  b = a/i
  L.append(b)
print(1+sum(L))

Enter the nth term: 4
Enter the value of x: 3
34.75

48.The natural logarithm can be approximated by the following series.
If x is input through the keyboard, write a program to calculate the
sum of the first seven terms of this series.

In [ ]:
n = int(input("Enter the nth term: "))
x = int(input("Enter the value of x: "))
L = []

a = (x-1)/x
for i in range(2,n+1):
  b = (1/2)*a**i
  L.append(b)
print(a+sum(L))

Enter the nth term: 7
Enter the value of x: 4
1.674774169921875

49. Write a program that keeps on accepting a number from the user until
the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
L = []
user_input = int(input("Enter the number: "))
L.append(user_input)

while user_input != 0:
    a = int(input("Enter the number: "))
    if a > 0:
      L.append(a)
    else:
      break

print("Total=",sum(L))
print("Average=",(sum(L)/len(L)))

Enter the number: 1
Enter the number: 2
Enter the number: 3
Enter the number: 4
Enter the number: 5
Enter the number: 6
Enter the number: 0
Total= 21
Average= 3.5

50.Write a program that accepts 2 numbers from the user a numerator
and a denominator and then simplifies it
Eg if the num = 5, den = 15 the answer should be ⅓
Eg if the num = 6, den = 9 the answer should be ⅔

In [ ]:
a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))

def division(a,b):
  A = []
  B = []
  for i in range(2,a+1):
    if a % i == 0:
      A.append(i)
  for i in range(2,b+1):
    if b % i == 0:
      B.append(i)

  L = []
  for i in A:
    if i in B:
      L.append(i)

  div = max(L)
  num = a // div
  den = b // div
  print(num,"/",den)

division(a,b)

Enter the 1st number: 6
Enter the 2nd number: 9
2 / 3