11. Write a program to find the simple interest when the value of
principle,rate of interest and time period is given.

In [ ]:
P = int(input("Enter the principle amount: "))
R = int(input("Enter the rate of interest: "))
T = int(input("Enter the duration in years: "))

SI = (P*R*T)/100
print("Simple Interest=",SI)

Enter the principle amount: 1000
Enter the rate of interest: 5
Enter the duration in years: 2
Simple Interest= 100.0

12. Write a program to find the volume of the cylinder. Also find the
cost when ,when the cost of 1litre milk is 40Rs.

In [ ]:
def vol_cyl(r,h):
  vol = 3.14*(r**2)*h
  cost = vol*40
  print("volume =",vol)
  print("Cost=",cost)

vol_cyl(1,2)

volume = 6.28
Cost= 251.20000000000002

13. Write a program that will tell whether the given number is divisible
by 3 & 6.

In [ ]:
def div_3_6(num):
  if num>0:
    if (num % 3==0) & (num%6==0):
      print(num,"is divisible by 3 & 6")
    else:
      print(num,"is not divisible by 3 & 6")
  else:
    print("Invalid number!")

div_3_6(12)

12 is divisible by 3 & 6

14.Calculate the angle between the hour hand and minute hand.

In [ ]:
def angle_hr_min(h,m):
  if (h < 13) & (m < 60):
    angle1 = abs((180-(h*30))-(180-(m*6))+360)
    angle2 = abs((180-(m*6))-(180-(h*30)))
    print(min(angle1,angle2))
  else:
    print("Check the timings")
    

angle_hr_min(2,45)

210

16. Write a program that will determine weather when the value of
temperature and humidity is provided by the user.
TEMPERATURE(C) HUMIDITY(%) WEATHER
 - .>=30 >=90 Hot and Humid
 - .>=30 < 90 Hot
 - < 30 >= 90 Cool and Humid
 - < 30 <90 Cool

In [ ]:
def weather(t,h):
  if (t>=30) & (h>=90):
    print("Hot and Humid")
  elif (t>=30) & (h<90):
    print("Hot")
  elif (t<30) & (h>=90):
    print("Cool and Humid")
  else:
    print("Cool")

weather(55,105)

Hot and Humid

17. Write a program that will take three digits from the user and add
the square of each digit.

In [ ]:
def digit_square(num):
  num = str(num)
  L=[]
  for i in range(len(num)):
    L.append(int(num[i])**2)
  total = sum(L)
  print("sqaured sum of",num,"is",total)

digit_square(4322)

sqaured sum of 4322 is 33

18. Write a program that will check whether the number is armstrong
number or not.

In [ ]:
def armstrong(num):
  actual = num
  num = str(num)
  L = []
  for i in range(len(num)):
    L.append(int(num[i])**(len(num)))
  total = sum(L)
  if total == actual:
    print(actual,"is an Armstong Number")
  else:
    print(actual,"is not an Armstong Number")

armstrong(1125)

1125 is not an Armstong Number

19. Write a program that will take user input of (4 digits number) and
check whether the number is narcissist number or not.

In [ ]:
def narcissist(num):
  actual = num
  num = str(num)
  L = []
  for i in range(len(num)):
    L.append(int(num[i])**len(num))
  total = sum(L)
  if total == actual:
    print(actual,"is a narcissist number")
  else:
    print(actual,"is not a narcissist number")

narcissist(1125)

1125 is not a narcissist number

20. Write a program that will give you the in hand salary after
deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between
5-10 lakh–10%),(11-20lakh–20%),(20< _ – 30%)(0-1lakh print k).

In [ ]:
def in_hand(salary):
  if salary>100000:
    HRA = salary*0.1
    DA = salary*0.05
    PF = salary*0.03
    sal_in_hand = salary - HRA - DA - PF
    if (salary >= 500000) & (salary <= 1000000):
      sal_in_hand = sal_in_hand - (salary*0.1)
      print("salary in hand: ",sal_in_hand)
    elif (salary > 1000000) & (salary <= 2000000):
      sal_in_hand = sal_in_hand - (salary*0.2)
      print("salary in hand: ",sal_in_hand)
    elif (salary > 2000000):
      sal_in_hand = sal_in_hand - (salary*0.3)
      print("salary in hand: ",sal_in_hand)
    else:
      print("salary in hand: ",sal_in_hand)
  else:
    print("salary: ",salary//1000,"k")

in_hand(2500000)

salary in hand:  1300000.0