31. Write a program to print all the unique combinations of 1,2,3 and 4

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    for k in range(1,5):
      for l in range(1,5):
        if i != j != k != l:
          print(i,j,k,l)

1 2 1 2
1 2 1 3
1 2 1 4
1 2 3 1
1 2 3 2
1 2 3 4
1 2 4 1
1 2 4 2
1 2 4 3
1 3 1 2
1 3 1 3
1 3 1 4
1 3 2 1
1 3 2 3
1 3 2 4
1 3 4 1
1 3 4 2
1 3 4 3
1 4 1 2
1 4 1 3
1 4 1 4
1 4 2 1
1 4 2 3
1 4 2 4
1 4 3 1
1 4 3 2
1 4 3 4
2 1 2 1
2 1 2 3
2 1 2 4
2 1 3 1
2 1 3 2
2 1 3 4
2 1 4 1
2 1 4 2
2 1 4 3
2 3 1 2
2 3 1 3
2 3 1 4
2 3 2 1
2 3 2 3
2 3 2 4
2 3 4 1
2 3 4 2
2 3 4 3
2 4 1 2
2 4 1 3
2 4 1 4
2 4 2 1
2 4 2 3
2 4 2 4
2 4 3 1
2 4 3 2
2 4 3 4
3 1 2 1
3 1 2 3
3 1 2 4
3 1 3 1
3 1 3 2
3 1 3 4
3 1 4 1
3 1 4 2
3 1 4 3
3 2 1 2
3 2 1 3
3 2 1 4
3 2 3 1
3 2 3 2
3 2 3 4
3 2 4 1
3 2 4 2
3 2 4 3
3 4 1 2
3 4 1 3
3 4 1 4
3 4 2 1
3 4 2 3
3 4 2 4
3 4 3 1
3 4 3 2
3 4 3 4
4 1 2 1
4 1 2 3
4 1 2 4
4 1 3 1
4 1 3 2
4 1 3 4
4 1 4 1
4 1 4 2
4 1 4 3
4 2 1 2
4 2 1 3
4 2 1 4
4 2 3 1
4 2 3 2
4 2 3 4
4 2 4 1
4 2 4 2
4 2 4 3
4 3 1 2
4 3 1 3
4 3 1 4
4 3 2 1
4 3 2 3
4 3 2 4
4 3 4 1
4 3 4 2
4 3 4 3

32.User will provide 2 numbers you have to find the HCF of those 2
numbers

In [ ]:
def HCF(a,b):
  L = []
  K = []

  for i in range(a,1,-1):
    if a % i == 0:
      L.append(a//i)

  for i in range(b,1,-1):
    if b % i == 0:
      K.append(b//i)

  com = [1]
  for j in L:
    if j in K:
      com.append(j)
  print("HCF is",max(com)) 


HCF(30,45)

HCF is 15

33.User will provide 2 numbers you have to find the by LCM of those 2
numbers

In [ ]:
def LCM(a,b):
  L = []
  K = []
  for i in range(1,b+1):
    L.append(a*i)
  for j in range(1,a+1):
    K.append(b*j)

  com = []
  for j in L:
    if j in K:
      com.append(j)

  if len(com)>0:  
    print("LCM is",min(com))
  else:
    print("LCM is",0)

LCM(36,90)

LCM is 180

34.Print first 25 prime numbers

In [ ]:
def prime(n):
  counter = 0
  num = 2
  L = []
  while counter <= n:
    for i in range(2,num):
      if num % i == 0:
        break
    else:
      L.append(num)
      counter += 1
    num += 1
  print(L)

prime(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

35.Print the first 20 numbers of a Fibonacci series

In [ ]:
def fibonacci(n):
  count=0
  num = 1
  L = [0,1]
  while count<=(n-3):
    count+=1
    num = L[-2] + L[-1]
    L.append(num)
  print(L)
  print(len(L))

fibonacci(25)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368]
25

36.Write a program to find the compound interest

In [ ]:
# ci = p(1+r/n)^nt

P = int(input("Enter the pricinple amount: "))
R = float(input("Enter the rate of interest: "))
N = int(input("Enter the no. of times interest applied: "))
T = int(input("Enter the number of time period elapsed: "))

CI = P*(1+(R/N))**(N*T)
print("CI=",CI)

Enter the pricinple amount: 100000
Enter the rate of interest: 0.2
Enter the no. of times interest applied: 6
Enter the number of time period elapsed: 1
CI= 121742.61742112492

37.Write a Python program that accepts an integer (n) and computes the
value of n+nn+nnn.

In [ ]:
def sum_of_nnn(n):
  a = str(n)
  n1 = int(a+a)
  n2 = int(a+a+a)
  print("sum of",n,"+",n1,"+",n2,"=",n+n1+n2)

sum_of_nnn(55)

sum of 55 + 5555 + 555555 = 561165

39.Print all factors of a given number provided by the user.

In [ ]:
def factor(n):
  L = []
  for i in range(2,n+1):
    if n % i == 0:
      L.append(i)
  print("factors of",n,L)

factor(40)

factors of 40 [2, 4, 5, 8, 10, 20, 40]

40. Find the reverse of a number provided by the user(any number of digit)

In [ ]:
def rev(n):
  n = str(n)
  rev = n[::-1]
  rev = int(rev)
  print(n,"reversed to",rev)

rev(936)

936 reversed to 639