21. Write a menu driven program
 - 1.cm to ft
 - 2.kl to miles
 - 3.usd to inr
 - 4.exit

In [ ]:
user_input = int(input('''Select an option from the menu:
                  1.cm to ft
                  2.kl to miles
                  3.usd to inr
                  4.exit: '''))


def conversion(user_input=user_input):
  if user_input == 1:
    cm = int(input("Enter the value in cms: "))
    ft = (cm/30.48)
    print(cm,"cms =",ft,"ft")

  elif user_input == 2:
    km = int(input("Enter the distance in kms: "))
    mile = 0.6214*km
    print(km,"kms =",mile,"miles")

  elif user_input == 3:
    usd = int(input("Enter the amount in USD: "))
    inr = usd*82.69
    print(usd,"USD=",inr,"INR")

  else:
    print("Thank you!")

conversion()

Select an option from the menu:
                  1.cm to ft
                  2.kl to miles
                  3.usd to inr
                  4.exit: 3
Enter the amount in USD: 3
3 USD= 248.07 INR

22.Write a program that will tell the number of dogs and chicken are
there when the user will provide the value of total heads and legs.

In [ ]:
noh = int(input("Enter the total number of heads: "))
nol = int(input("Enter the total number of legs: "))

dogs = 0
chicken = 0

for i in range(noh):
  nol = nol
  noh = noh
  if nol // noh == 4:
    dogs+=1
    nol = nol-4
    noh = noh-1
  else:
    chicken += 1
    nol=nol-2
    noh = noh-1
print(dogs,"dogs")
print(chicken,"chickens")

Enter the total number of heads: 6
Enter the total number of legs: 12
0 dogs
6 chickens

23.Write a program that will swap numbers

In [ ]:
def swap(num1,num2):
  n = num1
  num1 = num2
  num2 = n
  print("before swap:",n,num1)
  print("after swap: ",num1,num2)

swap(2,5)

before swap: 2 5
after swap:  5 2

24.Write a program to find the sum of first n numbers, where n will be
provided by the user. Eg if the user provides n=10 the output should be
55.

In [ ]:
def sum_n(n):
  num = 0
  for i in range(n+1):
    num = i+num
  print(num)

sum_n(15)

120

25.Write a program that can multiply 2 numbers provided by the user
without using the * operator

In [ ]:
def multi(a,b):
  c = 0
  for i in range(b):
    c = a+c
  print(a,"x",b,"=",c)

multi(9,5)

9 x 5 = 45

26.Write a program that can find the factorial of a given number provided
by the user

In [ ]:
def factorial(num):
  fact = 1
  for i in range(1,num+1):
    fact = i*fact
  print(fact)

factorial(7)

5040

27. Write a program to print the first 25 odd numbers

In [ ]:
def odd(n):
  L = []
  for i in range(n*2):
    if i % 2 != 0:
      L.append(i)
    else:
      continue
  print("First",len(L),"odd numbers:")
  print(L)
  

odd(25)

First 25 odd numbers:
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

28.Write a program to print whether a given number is prime number or
not

In [ ]:
def prime(n):
  for i in range(2,n):
    if n % i == 0:
      print(n,"is not a prime number")
      break
  else:
    print(n,"is a prime number")
    
prime(13)

13 is a prime number

29.Print all the armstrong numbers in the range of 100 to 1000

In [ ]:
arm = []
for i in range(100,1001):
  num = str(i)
  L = []
  for j in num:
    L.append(int(j)**len(num))
  total = sum(L)
  if i == total:
    arm.append(i)
  else:
    continue
print(arm)

[153, 370, 371, 407]

30.The current population of a town is 10000. The population of the town is
increasing at the rate of 10% per year. You have to write a program to
find out the population at the end of each of the last 10 years. For eg
current population is 10000 so the output should be like this:
10th year - 10000
9th year - 9000
8th year - 8100 and so on

In [ ]:
def population(num_of_years,current_pop):
  pop = current_pop
  print("year",num_of_years,"population: ",pop)
  for i in range(num_of_years-1,0,-1):
    pop = int(pop-(pop*0.10))
    print("year",i,"population: ",pop)

population(10,10000)

year 10 population:  10000
year 9 population:  9000
year 8 population:  8100
year 7 population:  7290
year 6 population:  6561
year 5 population:  5904
year 4 population:  5313
year 3 population:  4781
year 2 population:  4302
year 1 population:  3871