61. Write a python program to reverse a list

In [ ]:
L = list(input("Enter the elements: "))

print(L)
rev = L[::-1]
print("reversed",rev)

Enter the elements: 13245
['1', '3', '2', '4', '5']
reversed ['5', '4', '2', '3', '1']

In [ ]:
L = list(input("Enter the elements: "))
rev = []
for i in range(len(L)-1,-1,-1):
  rev.append(L[i])
print(L)
print("reversed",rev)

Enter the elements: 12345
['1', '2', '3', '4', '5']
reversed ['5', '4', '3', '2', '1']

62.Write a python program to search a given number from a list

In [ ]:
L = list(input("Enter the elements: "))
n = input("Enter the number to find: ")
for i in L:
  if n == i:
    print(n,"on index",L.index(i))

Enter the elements: suoerman
Enter the number to find: a
a on index 6

63.Write a program that can create a new list from a given list where each
item in the new list is square of the item of the old list

In [ ]:
L = list(input("Enter the number in the list: "))

def squared_list(L):
  list1 = []
  for i in L:
    if i.isdigit() == True:
      a = int(i)**2
      list1.append(a)
  if len(list1) == 0:
    print("Please enter a valid number to square.")
  return list1


squared_list(L)

Enter the number in the list: asd
Please enter a valid number to square.

[]

64.Write a program that can reverse words of a given string.
Eg if the input is Hello how are you
Output should be you are how Hello

In [ ]:
text = input("Enter your text: ")

def reversed_text(text):
  L = text.split(" ")
  for i in range(len(L)-1,-1,-1):
    print(L[i],end=" ")

reversed_text(text)

Enter your text: my name is superman
superman is name my

65.Write a program that can count the number of words in a given string

In [ ]:
text = input("Enter the text: ")
L = text.split(" ")

print(len(L),"number of words in the text.")

Enter the text: my name is superman
4 number of words in the text.

66.Write a program to check if a list is in ascending order or not

In [ ]:
L = list(input("Enter the elements in the list"))

def ascending_list(L):
  L1 = []
  L2 = []
  for i in L:
    L1.append(int(i))
    L2.append(int(i))
  L2.sort()
  if L1 == L2:
    print("List is in ascending order.")
  else:
    print("List is not in ascending order.")

ascending_list(L)

Enter the elements in the list54321
List is not in ascending order.

67.Create 2 lists from a given list where 1st list will contain all the odd
numbers from the original list and the 2nd one will contain all the even
numbers

In [ ]:
L = list(input("Enter the elements in the list"))
def odd_even(L):
  L1 = [int(i) for i in L]
  evens = [i for i in L1 if i % 2 == 0]
  odds = [i for i in L1 if i % 2 != 0]
  return evens, odds

odd_even(L)

Enter the elements in the list123456

([2, 4, 6], [1, 3, 5])

68.Write a program to merge 2 list without using the + operator

In [ ]:
L1 = input("Enter the elements in the 1st list: ")
L2 = input("Enter the elements in the 2nd list: ")

def new_list(L1,L2):
  L3 = []
  for i in L1:
    L3.append(i)
  for j in L2:
    L3.append(j)
  return L3

new_list(L1,L2)

Enter the elements in the 1st list: abc
Enter the elements in the 2nd list: def

['a', 'b', 'c', 'd', 'e', 'f']

69.Write a program to replace an item with a different item if found in the
list

In [ ]:
L = list(input("Enter the elements in the list"))
item1 = input("Enter the item to replace from the list")
item2 = input("Enter the item to be replaced: ")

def replace_item(L,item1,item2):
  if item1 in L:
    ind = L.index(item1)
    L.insert(ind,item2)
    L.remove(item1)
  return L

replace_item(L,item1,item2)

Enter the elements in the list12356
Enter the item to replace from the list3
Enter the item to be replaced: 8

['1', '2', '8', '5', '6']

70.Write a program that can convert a 2D list to 1D listWrite a program that
can print

In [ ]:
L1 = [list(input("Enter the elements: "))]
L2 = []
for i in L1:
  for j in range(len(i)):
    L2.append(i[j])
print(L1)
print(L2)

Enter the elements: 12345
[['1', '2', '3', '4', '5']]
['1', '2', '3', '4', '5']